.comment-list {
  @include list-unstyled;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}

#comments{
  margin-top: 5em;
}

.comment-body {
  margin-left: 1em;
}

.comment {
min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $portfolio-color;
  border: 1px solid #e3e3e3;
  @include border-radius($nav-radius + 2px);
  @include box-shadow($nav-box-shadow 0px 2px 2px);
}
