.portfolio-item {
  background-color: $portfolio-color;
  @include border-radius($nav-radius);
  @include box-shadow($nav-box-shadow 0px 2px 2px);
  h3{
  	padding: 10px 15px 0px;
    @media (max-width: $screen-md-max) {
      font-size: 18px;
    }
  }
}


.portfolio-img {
  width:100%;
}
